.legend-container {
    position: sticky;
    bottom: 0;
    left: 0;
    width: 100%;
    transform: translateY(0);
    transition: transform 0.2s ease-in-out;
    
    z-index: 1;
    opacity: 1;
    display: flex;
    justify-content: flex-end;
    &.isClosed {
        transform: translateY(100%);
        //opacity: 0;
    }
    &.hide {
        display: none;
    }
}

.legend-container-inner {
    position: relative;
    display: inline-block;
    max-width: 1030px;
    display: flex;
    justify-content: flex-end;
    padding-bottom: 5px;
    transition:  opacity 0.2s ease-in-out;
    opacity: 1;
    //background-color: rgba(255,255,255,0.9);
    background-color: #fff;
    border: 1px solid $gray;
    .isClosed & {
        opacity: 0;
    }
}

.legend-container-wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 0 22px 0;
    
    > div:first-child {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        justify-content: flex-end;
        h2 {
            font-size: 1.5em;
            text-align: left;
            margin-bottom: 0;
        }
    }
}

.legend {

    display: flex;

    .color-codes {
        max-width: 440px;
        display: flex;
        //
        justify-content: flex-end;
        flex-wrap: wrap;
        flex-grow: 1;
      


        > div {
            display: flex;
            min-width: 130px;
           // flex-grow: 1;
            margin-top: 0.75em;
            


            h3 {
                display: inline-block;
                margin-right: 0.5em;
                width: 40px;
                text-align: right;
                
            }
        }

    }

    li {
        margin-bottom: 0;
    }


}
.legend-svg-container {
  //  flex-grow: 1;
}
.population-legend {
    width: 62px;
    margin-bottom: -5px;

    :global(circle) {
        fill: none;
        stroke: $blue;
    }

    :global(.circle-label) {
        font-size: 7.5px;
        text-anchor: middle;
    }
}

h3 {
    font-size: 16px;
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    text-indent: 0;
    list-style-type: none;
}

li {
    display: inline-block;
    margin-right: 8px;

    &::before {
        content: '';
        display: inline-block;
        height: 12px;
        width: 12px;
        border-radius: 6px;
        margin-right: 4px;
    }

    &:nth-child(1) {
        &::before {
            background-color: $teal;
        }
    }

    &:nth-child(2) {
        &::before {
            background-color: $orange;
        }
    }

    &:nth-child(3) {
        &::before {
            background-color: $red;
        }
    }

    &:nth-child(4) {
        &::before {
            background-color: $light_blue;
        }
    }

}
.x-out-container {
    display: block;
    position: absolute;
    top: 20px;
    right: 5px;
}
.show-legend {
    color: $dark_blue;
    position: absolute;
    top: -34px;
    right: 0;
    padding: 0.5em;
    border: 2px solid $blue;
    margin: 0;
    overflow: visible;
    color: inherit;
    font: inherit;
    line-height: normal;
}
.agreggated-dash {
    display: inline-block;
    width: 22px;
    height: 3px;
    background-color: $blue;
    position: relative;
    top: 9px;
    margin-right: 0.5em;
}